

# ------------------------------
# PROJECT CONFIGURATION
# ------------------------------
# Defines the prefix for container names (e.g., myproject_app, myproject_db)
COMPOSE_PROJECT_NAME=example_prod

HOSTNAME=www.example.com

DB_NAME=wordpress
DB_USER=wp_user
DB_PASSWORD=change-me
DB_ROOT_PASSWORD=change-me
REDIS_PASSWORD=change-me



# --- OpenID Connect Configuration ---

# Credentials
OIDC_CLIENT_ID=change-me
OIDC_CLIENT_SECRET=change-me

# Scopes
OIDC_SCOPE="email profile openid offline_access"

# Endpoints (Keycloak)
OIDC_ENDPOINT_LOGIN=https://example.com/realms/primaleto/protocol/openid-connect/auth
OIDC_ENDPOINT_USERINFO=https://examp.com/realms/primaleto/protocol/openid-connect/userinfo
OIDC_ENDPOINT_TOKEN=https://example.com/realms/primaleto/protocol/openid-connect/token
OIDC_ENDPOINT_LOGOUT=https://example.com/realms/primaleto/protocol/openid-connect/logout

# User Identity Settings
OIDC_IDENTITY_KEY=preferred_username
OIDC_NICKNAME_KEY=preferred_username
OIDC_EMAIL_FORMAT={email}
OIDC_DISPLAYNAME_FORMAT="{given_name} {family_name}"

# Behaviors (true/false)
OIDC_LINK_EXISTING_USERS=true
OIDC_CREATE_IF_NOT_EXISTS=true
OIDC_REDIRECT_BACK=true
OIDC_IDENTIFY_WITH_USERNAME=true
OIDC_ENABLE_REFRESH_TOKEN=true
OIDC_ENFORCE_PRIVACY=false